<div class="container">
    <div class="row">
        <img src="img/Faizal.png" alt="Faizal Addi" class="img-thumbnail rounded-circle", width="200", height="200">
        <div class="col text-center">
            <h1 class="display-4">Muhammad Faizal Addi</h1>
            <p class="lead">Job Hunters | Student</p>
        </div>
    </div>
</div>